@import "colors.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    height: 100vh; /* Ensures the body takes the full viewport height */
    margin: 0;
    padding: 0;
    background-color: var(--black-color);
}

h1 {
    text-align: center;
    color: var(--white-color);
}

.wods-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    margin: 0 10px;
}

.wod-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border: 2px solid var(--orange-color);
    border-radius: 8px;
}

.wod-item a {
    text-decoration: none;
    color: var(--white-color);
}

.btn {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.go-back {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    background-color: var(--red-color);
    color: var(--black-color);
    font-weight: bold;
    text-decoration: none;
}

.card {
    padding: 10px;
    color: var(--white-color);
    flex: 1;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}

.single-post-wrap {
    padding: 10px;
    margin: auto;
}